openapi: 3.1.0
info:
  title: Variable Definitions
  x-audience: external-public
  description: |-
    API for variable definitions. Part of the Metadata system at Statistics Norway.
  contact:
    email: mmw@ssb.no
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/deed.no
  version: 0.1.0
servers:
  - url: https://metadata.ssb.no
    description: Production
  - url: https://metadata.test.ssb.no
    description: Test
  - url: https://127.0.0.1:8080
    description: Local
tags:
  - name: variable-definitions
    description: Operations directly applying to Variable Definitions.
  - name: derivatives
    description: Derivatives are variable definitions which inherit from another definition. A single level of inheritance is permitted.
  - name: validity-periods
    description: Variable Definitions are valid for specified time periods. This allows for breaking changes in definitions to be introduced. Clients may specify a date at which a variable definition should be valid, this is guaranteed to always be backwards compatible.
  - name: versions
    description: There may be one or more versions within a particular validity period. This allows for non-breaking changes to be tracked. The latest version is always used unless otherwise specified.
  - name: alternative-formulations
    description: Some use cases require elaborations on the canonical variable definition. These should be regarded as an additional explanation, not a replacement for the canonical definition.
paths:
  /variable-definitions:
    get:
      summary: List variable definitions
      description: Paginated list of all variable definitions. The list may be filtered using the available query parameters.
      operationId: get_variables
      tags:
        - variable-definitions
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/query-valid-at.yaml"
        - name: classification_uri
          in: query
          description: "Return only variable definitions which reference this classification."
          schema:
            type: string
            format: uri
        - name: unit_type
          in: query
          description: "Return only variable definitions which specify this Unit type."
          schema:
            type: string
        - name: subject_field
          in: query
          description: "Return only variable definitions which are used in this subject field."
          schema:
            type: string
        - name: direct_person_identifying
          in: query
          description: "Filter variable definitions based on whether they contain directly personally identifying information."
          schema:
            type: boolean
        - name: measurement_type
          in: query
          schema:
            type: string
        - name: owner
          in: query
          description: "Filter variable definitions by the division in Statistics Norway which owns them."
          schema:
            type: string
        - name: contact_person
          in: query
          description: "Filter variable definitions by the contact person for them."
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
    post:
      summary: Create a draft variable definition
      description: Create a draft variable definition
      operationId: create_variable
      tags:
        - variable-definitions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
        '405':
          description: Attempt to create a variable definition with status other than DRAFT
      security:
        - bearerAuth: []
  /variable-definitions/{id}:
    parameters:
      - $ref: "parameters/path-id.yaml"
    get:
      summary: Get one variable definition
      description: Get the latest version of the variable definition which is valid on today's date. If no periods are valid on today's date, the closest (in time) valid definition is returned.
      operationId: get_variable_by_id
      tags:
        - variable-definitions
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/query-valid-at.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    patch:
      summary: Update a variable definition
      operationId: update_variable
      tags:
        - variable-definitions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '404':
          description: Variable not found
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
    delete:
      summary: Delete a draft variable definition
      operationId: delete_draft_variable_definition
      tags:
        - variable-definitions
      responses:
        '204':
          description: Successfully deleted
        '404':
          description: No such variable definition
        '405':
          description: Attempt to delete a variable definition with status other than DRAFT
      security:
        - bearerAuth: []
  /variable-definitions/{id}/periods:
    parameters:
      - $ref: "parameters/path-id.yaml"
    get:
      summary: List validity periods of this variable definition
      operationId: get_validity_periods_of_variable
      tags:
        - validity-periods
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      summary: Create a new variable definition validity period
      description: Define a new period of validity for this variable definition. This is equivalent to a "Major" version change as defined in Semantic Versioning, the change to the definition is not backwards compatible. The "Valid from" date given for the new validity period is automatically set as the "Valid until" date for the current most recent validity period such that there are no gaps in validity.
      operationId: create_variable_validity_period
      tags:
        - validity-periods
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition validity period created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{id}/periods/{period_id}/versions:
    parameters:
      - $ref: "parameters/path-id.yaml"
      - name: period_id
        in: path
        description: Unique identifier for the validity period
        required: true
        schema:
          $ref: "schemas/identifier.yaml"
    get:
      summary: List variable definition versions
      description: List versions for this validity period of the variable definition.
      operationId: get_versions_of_variable_by_id
      tags:
        - versions
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      summary: Create a variable definition version
      description: Create a variable definition version. This is equivalent to a "Minor" or "Patch" version change as defined in Semantic Versioning. Examples of accepted use are correcting a typo which does not alter the meaning of the definition, or adding a translation of a field in another language.
      operationId: create_variable_version
      tags:
        - versions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition version created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{id}/derivatives:
    parameters:
      - $ref: "parameters/path-id.yaml"
    get:
      summary: Get all derivatives of this variable
      operationId: get_derivatives_of_variable_by_id
      tags:
        - derivatives
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      summary: Create a derivative variable definition
      operationId: create_derivative_variable
      tags:
        - derivatives
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Derivative variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
        '405':
          description: "This variable definition already derives from another."
      security:
        - bearerAuth: []
  /variable-definitions/{id}/alternative-formulations:
    parameters:
      - $ref: "parameters/path-id.yaml"
    get:
      summary: Get all alternative formulations for this variable definition
      operationId: get_alternative_formulations
      tags:
        - alternative-formulations
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/path-id.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-alternative-formulation.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      summary: Create an alternative formulation
      operationId: create_alternative_formulation
      tags:
        - alternative-formulations
      parameters:
        - $ref: "parameters/path-id.yaml"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-alternative-formulation.yaml"
      responses:
        '201':
          description: Derivative variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-alternative-formulation.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{id}/alternative-formulations/{alternative_formulation_id}:
    parameters:
      - $ref: "parameters/path-id.yaml"
      - name: alternative_formulation_id
        in: path
        description: Unique identifier for the alternative formulation
        required: true
        schema:
          $ref: "schemas/identifier.yaml"
    get:
      summary: Get an alternative formulation
      operationId: get_an_alternative_formulation
      tags:
        - alternative-formulations
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/rendered-alternative-formulation.yaml"
        '404':
          description: Not found
      security:
        - bearerAuth: []
    patch:
      summary: Update an alternative formulation
      operationId: update_alternative_formulation
      tags:
        - alternative-formulations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "schemas/input-alternative-formulation.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-alternative-formulation.yaml"
        '404':
          description: Variable not found
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
    delete:
      summary: Delete an alternative formulation
      operationId: delete_alternative_formulation
      tags:
        - alternative-formulations
      responses:
        '204':
          description: Successfully deleted
        '404':
          description: Not found
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
