openapi: 3.1.0
info:
  title: Variable Definitions
  x-audience: external-public
  description: |-
    API for variable definitions. This is part of the Metadata system at Statistics Norway.
  contact:
    email: mmw@ssb.no
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
servers:
  - url: https://metadata.ssb.no
tags:
  - name: variables
    description: Variable definitions
paths:
  /variables/public:
    get:
      tags:
        - variables
      summary: Get all public variable definitions
      description: Paginated list of all public variable definitions.
      operationId: get_variables
      parameters:
        - name: Accept-Language
          in: header
          description: "Specify the language in which data will be presented."
          schema:
            type: string
            enum: ["nb", "nn", "en"]
            default: "nb"
        - name: classification_uri
          in: query
          description: "Return only variable definitions which reference this classification."
          schema:
            type: string
            format: uri
        - name: unit_type
          in: query
          description: "Return only variable definitions which specify this Unit type."
          schema:
            type: enum
        - name: subject_field
          in: query
          description: "Return only variable definitions which are used in this subject field."
          schema:
            type: string
        - name: direct_person_identifying
          in: query
          description: "Filter variable definitions based on whether they contain directly personally identifying information."
          schema:
            type: boolean
        - name: measurement_type
          in: query
          schema:
            type: string
        - name: owner
          in: query
          description: "Filter variable definitions by the division in Statistics Norway which owns them."
          schema:
            type: string
        - name: contact_person
          in: query
          description: "Filter variable definitions by the contact person for them."
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/input-variable-definition-schema.json"
  /variables/public/{id}:
    get:
      tags:
        - variables
      summary: Get one variable definition by ID
      description: One variable definition.
      operationId: get_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition-schema.json"
        '404':
          description: Variable not found
    patch:
      tags:
        - variables
      summary: Update a variable definition
      description: Update an existing variable definition by Id
      operationId: update_variable
      parameters:
        - name: id
          in: path
          description: ID of variable definition to update
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]{8}$"
          examples:
            id_example:
              value: enkb87pj
      requestBody:
        description: Update an existing variable definition by Id
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition-schema.json"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition-schema.json"
        '404':
          description: Variable not found
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{id}/versions:
    get:
      tags:
        - variables
        - versions
      summary: Get all versions of this variable
      operationId: get_versions_of_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/input-variable-definition-schema.json"
        '404':
          description: Variable not found
    post:
      tags:
        - variables
        - versions
      summary: Create a variable definition version
      description: Create a variable definition version
      operationId: create_variable_version
      requestBody:
        description: Create a new variable definition version
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition-schema.json"
      responses:
        '201':
          description: Variable definition version created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition-schema.json"
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{id}/children:
    get:
      tags:
        - variables
        - children
      summary: Get all children of this variable
      operationId: get_children_of_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/input-variable-definition-schema.json"
        '404':
          description: Variable not found
    post:
      tags:
        - variables
        - children
      summary: Create a derivative variable definition
      description: Create a derivative variable definition
      operationId: create_derivative_variable
      requestBody:
        description: Create a new derivative variable definition
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition-schema.json"
      responses:
        '201':
          description: Derivative variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition-schema.json"
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/draft:
    post:
      tags:
        - variables
      summary: Create a variable definition
      description: Create a variable definition
      operationId: create_variable
      requestBody:
        description: Create a new variable
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition-schema.json"
      responses:
        '201':
          description: Variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition-schema.json"
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{status}:
    get:
      tags:
        - variables
      summary: Get all variable definitions with the given status. Returns only definitions which the user is authorized to see. Authorization is based on the status of the variable. For DRAFT status, only members of the owning section may read the definition. For PUBLISHED_INTERNAL, PUBLISHED_EXTERNAL and DEPRECATED, any SSB employee may read the definition.
      description: Paginated list of draft variable definitions.
      operationId: get_draft_variables
      parameters:
        - name: status
          in: query
          description: "Return variable definitions with the given status."
          schema:
            type: string
            enum: [
              "draft",
              "internal",
              "public",
              "deprecated"
            ]
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/input-variable-definition-schema.json"
      security:
        - admin_auth:
            - read:internal:variables

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
