openapi: 3.1.0
info:
  title: Variable Definitions
  x-audience: external-public
  description: |-
    API for variable definitions. This is part of the Metadata system at Statistics Norway.
  contact:
    email: mmw@ssb.no
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/deed.no
  version: 0.1.0
servers:
  - url: https://metadata.ssb.no
tags:
  - name: public
    description: Available to the general public without authentication.
  - name: internal
    description: Available only to employees of Statistics Norway. Requires authentication.
paths:
  /variable-definitions/public:
    get:
      tags:
        - public
      summary: List public variable definitions
      description: Paginated list of all public variable definitions. Available without authentication. The list may be filtered using the available query parameters.
      operationId: get_variables
      security: []   # Public endpoint, does not require authentication
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - name: classification_uri
          in: query
          description: "Return only variable definitions which reference this classification."
          schema:
            type: string
            format: uri
        - name: unit_type
          in: query
          description: "Return only variable definitions which specify this Unit type."
          schema:
            type: string
        - name: subject_field
          in: query
          description: "Return only variable definitions which are used in this subject field."
          schema:
            type: string
        - name: direct_person_identifying
          in: query
          description: "Filter variable definitions based on whether they contain directly personally identifying information."
          schema:
            type: boolean
        - name: measurement_type
          in: query
          schema:
            type: string
        - name: owner
          in: query
          description: "Filter variable definitions by the division in Statistics Norway which owns them."
          schema:
            type: string
        - name: contact_person
          in: query
          description: "Filter variable definitions by the contact person for them."
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/public-rendered-variable-definition.yaml"
        '400':
          description: "Invalid request"
  /variable-definitions/public/{id}:
    get:
      tags:
        - public
      summary: Get one public variable definition
      description: One variable definition.
      operationId: get_variable_by_id
      security: []   # Public endpoint, does not require authentication
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/public-rendered-variable-definition.yaml"
        '404':
          description: Variable not found
  /variable-definitions/draft:
    get:
      tags:
        - internal
      summary: List of draft variable definitions
      description: Get draft variable definitions which the user is authorized to see. Only members of the owning unit may read the definition. Returns the full representation of a variable definition, not a representation rendered in a specific language.
      operationId: get_draft_variables
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/input-variable-definition.yaml"
        '404':
          description: "Status not found"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
    post:
      tags:
        - internal
      summary: Create a draft variable definition
      description: Create a variable definition
      operationId: create_variable
      requestBody:
        description: Create a new variable
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/draft/{id}:
    patch:
      tags:
        - internal
      summary: Update a draft variable definition
      operationId: update_draft_variable_definition
      parameters:
        - $ref: "parameters/path-id.yaml"
      requestBody:
        description: Update a draft variable definition
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition updated
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
    get:
      tags:
        - internal
      summary: Get one draft variable definition
      description: One variable definition.
      operationId: get_draft_variable_definition_by_id
      parameters:
        - $ref: "parameters/path-id.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '404':
          description: No such variable definition
      security:
        - bearerAuth: []
    delete:
      tags:
        - internal
      summary: Delete a draft variable definition
      operationId: delete_draft_variable_definition
      parameters:
        - $ref: "parameters/path-id.yaml"
      responses:
        '204':
          description: Successfully deleted
        '404':
          description: No such variable definition
      security:
        - bearerAuth: []
  /variable-definitions/{status}:
    get:
      tags:
        - internal
      summary: List variable definitions
      description: List variable definitions with the given status. Returns only definitions which the user is authorized to see. Authorization is based on the status of the variable. For DRAFT status, only members of the owning section may read the definition. For PUBLISHED_INTERNAL, PUBLISHED_EXTERNAL and DEPRECATED, any SSB employee may read the definition.
      operationId: get_variables_by_status
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/path-status-internal-public-deprecated.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: "Status not found"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{status}/{id}:
    get:
      tags:
        - internal
      summary: Get one variable definition by status and ID
      description: One variable definition.
      operationId: get_variable_by_status_and_id
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/path-status-internal-public-deprecated.yaml"
        - $ref: "parameters/path-id.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    patch:
      tags:
        - internal
      summary: Update a variable definition
      description: Update an existing variable definition by Id
      operationId: update_variable
      parameters:
        - $ref: "parameters/path-status-internal-public.yaml"
        - $ref: "parameters/path-id.yaml"
      requestBody:
        description: Update an existing variable definition by Id
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '404':
          description: Variable not found
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{status}/{id}/versions:
    get:
      tags:
        - internal
        - versions
      summary: List versions of this variable definition
      operationId: get_versions_of_variable_by_id
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/path-id.yaml"
        - $ref: "parameters/path-status-internal-public-deprecated.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      tags:
        - internal
        - versions
      summary: Create a variable definition version
      description: Create a variable definition version
      operationId: create_variable_version
      parameters:
        - $ref: "parameters/path-id.yaml"
        - $ref: "parameters/path-status-internal-public.yaml"
      requestBody:
        description: Create a new variable definition version
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Variable definition version created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
  /variable-definitions/{status}/{id}/derivatives:
    get:
      tags:
        - internal
        - derivatives
      summary: Get all derivatives of this variable
      operationId: get_derivatives_of_variable_by_id
      parameters:
        - $ref: "parameters/header-accept-language.yaml"
        - $ref: "parameters/path-id.yaml"
        - $ref: "parameters/path-status-internal-public-deprecated.yaml"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "schemas/rendered-variable-definition.yaml"
        '404':
          description: Variable not found
      security:
        - bearerAuth: []
    post:
      tags:
        - internal
        - derivatives
      summary: Create a derivative variable definition
      description: Create a derivative variable definition
      operationId: create_derivative_variable
      parameters:
        - $ref: "parameters/path-id.yaml"
        - $ref: "parameters/path-status-internal-public.yaml"
      requestBody:
        description: Create a new derivative variable definition
        content:
          application/json:
            schema:
              $ref: "schemas/input-variable-definition.yaml"
      responses:
        '201':
          description: Derivative variable definition created
          content:
            application/json:
              schema:
                $ref: "schemas/input-variable-definition.yaml"
        '400':
          description: "Invalid request"
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
