openapi: 3.1.0
info:
  title: Variable Definitions
  x-audience: external-public
  description: |-
    Specification of the API for variable definitions. This is part of the Metadata system at Statistics Norway.
  contact:
    email: mmw@ssb.no
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
servers:
  - url: https://metadata.ssb.no
tags:
  - name: variables
    description: Variable definitions
paths:
  /variables:
    get:
      tags:
        - variables
      summary: Get all variable definitions
      description: Paginated list of all public variable definitions.
      operationId: get_variables
      parameters:
        - name: classification_uri
          in: query
          description: "Return only variable definitions which reference this classification."
          schema:
            type: string
            format: uri
        - name: unit_type
          in: query
          description: "Return only variable definitions which specify this Unit type."
          schema:
            type: enum
        - name: status
          in: query
          description: "Return variable definitions with the given status."
          schema:
            enum: [
                  "PUBLISHED_EXTERNAL",
                  "DEPRECATED"
              ]
        - name: subject_field
          in: query
          description: "Return only variable definitions which are used in this subject field."
          schema:
            type: string
        - name: direct_person_identifying
          in: query
          description: "Filter variable definitions based on whether they contain directly personally identifying information."
          schema:
            type: boolean
        - name: measurement_type
          in: query
          schema:
            type: string
        - name: owner
          in: query
          description: "Filter variable definitions by the division in Statistics Norway which owns them."
          schema:
            type: string
        - name: contact_person
          in: query
          description: "Filter variable definitions by the contact person for them."
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
    post:
      tags:
        - variables
      summary: Create a variable definition
      description: Create a variable definition
      operationId: create_variable
      requestBody:
        description: Create a new variable
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/variable'
      responses:
        '201':
          description: Variable definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variable'
        '401':
          description: Not authenticated
        '403':
          description: Not authorized
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{id}:
    get:
      tags:
        - variables
      summary: Get one variable definition by ID
      description: One variable definition.
      operationId: get_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variable'
        '404':
          description: Variable not found
    patch:
      tags:
        - variables
      summary: Update a variable definition
      description: Update an existing variable definition by Id
      operationId: update_variable
      parameters:
        - name: id
          in: path
          description: ID of variable definition to update
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9]{8}$"
          examples:
            id_example:
              value: enkb87pj
      requestBody:
        description: Update an existing variable definition by Id
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/variable'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variable'
        '404':
          description: Variable not found
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{id}/versions:
    get:
      tags:
        - variables
        - versions
      summary: Get all versions of this variable
      operationId: get_versions_of_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
        '404':
          description: Variable not found
    post:
      tags:
        - variables
        - versions
      summary: Create a variable definition version
      description: Create a variable definition version
      operationId: create_variable_version
      requestBody:
        description: Create a new variable definition version
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/variable'
      responses:
        '201':
          description: Variable definition version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variable'
        '401':
          description: Not authenticated
        '403':
          description: Not authorized
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/{id}/children:
    get:
      tags:
        - variables
        - children
      summary: Get all children of this variable
      operationId: get_children_of_variable_by_id
      parameters:
        - name: id
          in: path
          description: ID of variable definition to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
        '404':
          description: Variable not found
    post:
      tags:
        - variables
        - children
      summary: Create a derivative variable definition
      description: Create a derivative variable definition
      operationId: create_derivative_variable
      requestBody:
        description: Create a new derivative variable definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/variable'
      responses:
        '201':
          description: Derivative variable definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variable'
        '401':
          description: Not authenticated
        '403':
          description: Not authorized
        '400':
          description: "Invalid request"
      security:
        - admin_auth:
            - write:variables
  /variables/internal:
    get:
      tags:
        - variables
      summary: Get all internal variable definitions
      description: Paginated list of internal variable definitions.
      operationId: get_internal_variables
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
      security:
        - admin_auth:
            - read:internal:variables
  /variables/draft:
    get:
      tags:
        - variables
      summary: Get all draft variable definitions. Returns only definitions which the user is authorized to see (Owner section in SSB)
      description: Paginated list of draft variable definitions.
      operationId: get_draft_variables
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
      security:
        - admin_auth:
            - read:internal:variables
  /variables/deprecated:
    get:
      tags:
        - variables
      summary: Get all deprecated variable definitions
      description: Paginated list of deprecated variable definitions.
      operationId: get_deprecated_variables
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/variable'
      security:
        - admin_auth:
            - read:internal:variables

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    variable: {
      "$schema": "http://json-schema.org/draft-07/schema#",
      "type": "object",
      "properties": {
          "name": {
              "title": "Name",
              "description": "Name of the variable",
              "$ref": "#/components/schemas/variable/$defs/language_texts"
          },
          "short_name": {
              "title": "Short name",
              "description": "Recommended short name",
              "$comment": " Alphanumeric limited to a-z, A-Z, 0-9, - (hyphen) and _ (underscore)",
              "type": "string"
          },
          "definition": {
              "title": "Definition",
              "description": "Definition of the variable",
              "$ref": "#/components/schemas/variable/$defs/language_texts",
              "type": "string"
          },
          "classification_uri": {
              "title": "Classification or codelist URI",
              "description": "Link (URI) to valid classification or code list",
              "type": "string",
              "format": "uri"
          },
          "unit_type": {
              "title": "Unit type(s)",
              "description": "A list of one or more unit types, e.g. person, vehicle, household.",
              "$comment": "See list of Statistics Norways unit types https://www.ssb.no/en/metadata/definisjoner-av-statistiske-enheter",
              "type": "array",
              "items": {
                  "type": "string",
                  "enum": [
                      "ARBEIDSULYKKE",
                      "ADRESSE",
                      "BOLIG",
                      "BYGNING",
                      "EIENDOM",
                      "FAMILIE",
                      "FORETAK",
                      "FYLKE_FORVALTNING",
                      "FYLKE_GEOGRAFISK",
                      "HAVNEANLOEP",
                      "HUSHOLDNING",
                      "KJOERETOEY",
                      "KOMMUNE_FORVALTNING",
                      "KOMMUNE_GEOGRAFISK",
                      "KURS",
                      "LOVBRUDD",
                      "PERSON",
                      "SKIP",
                      "STATLIGE_VIRKSOMHETER",
                      "STORFE",
                      "TRAFIKKULYKKE",
                      "TRANSAKSJON",
                      "VALG",
                      "VARE_TJENESTE",
                      "VERDIPAPIR",
                      "VIRKSOMHET"
                  ]
              }
          },
          "subject_field":{
              "title": "Subject field(s)",
              "description": "A list of one or more subject fields that the variable is used in. Se KLASS https://www.ssb.no/klass/klassifikasjoner/15",
              "type": "array",
              "items": {
                  "type": "object",
                  "properties": {
                      "code": {
                          "title": "Subject field code",
                          "type": "string"
                      },
                      "name": {
                          "title": "Subject field name",
                          "$ref": "#/components/schemas/variable/$defs/language_texts"
                      }
                  }
              }
          },
          "direct_person_identifying": {
              "title": "Direct Person identifying Information (DPI)",
              "description": "Direct Person identifying Information (DPI)",
              "type": "boolean"
          },
          "variable_status": {
              "title": "Status of the variable",
              "description": "Status of the Life cycle of the variable",
              "type": "string",
              "enum": [
                  "DRAFT",
                  "PUBLISHED_INTERNAL",
                  "PUBLISHED_EXTERNAL",
                  "DEPRECATED"
              ],
              "default": "DRAFT"
          },
          "measurement_type": {
              "title": "Measurement type",
              "description": "Type of measurement for the variable, e.g. length, volume, currency",
              "type": "string",
              "$comment": "TODO: Enum based on codelist from KLASS? https://www.ssb.no/klass/klassifikasjoner/303/koder"
          },
          "valid_from": {
              "title": "Valid from",
              "description": "The variable definition is valid from this date inclusive",
              "type": "string",
              "format": "date"
          },
          "valid_until": {
              "title": "Valid until",
              "description": "The variable definition is valid until this date inclusive",
              "type": "string",
              "format": "date"
          },
          "external_reference_uri": {
              "title": "External reference (URI)",
              "description": "A link (URI) to an external definition/documentation",
              "type": "string",
              "format": "uri"
          },
          "comment": {
              "title": "Comment(s)",
              "description": "Comment(s) about the definition",
              "$ref": "#/components/schemas/variable/$defs/language_texts"
          },
          "internal_comment": {
              "title": "Internal comment(s)",
              "description": "Internal comment(s) about the definition",
              "$ref": "#/components/schemas/variable/$defs/language_texts"
          },
          "relevant_variable_definition_uri": {
              "title": "Related variable(s)",
              "description": "Link(s) to related definitions of variables - a list of one or more definitions. For example if after-tax income is a derived variable then it could be relevant to link to definitions of income from work, property income etc.",
              "type": "array",
              "items": {
                  "type": "string",
                  "format": "uri"
              }
          },
          "id": {
              "title": "Identifier",
              "description": "Unique identifier for the variable definition",
              "type": "string",
              "pattern": "^[a-z0-9]{8}$",
              "readOnly": true
          },
          "owner": {
              "title": "Owner",
              "description": "Division in Statistics Norway which is responsible for the variable.",
              "type": "object",
              "properties": {
                  "code": {
                      "title": "Owner division, number",
                      "type": "string"
                  },
                  "name": {
                      "title": "Owner division, name",
                      "$ref": "#/components/schemas/variable/$defs/language_texts"
                  }
              }
          },
          "contact_person": {
              "title": "Contact person",
              "description": "Contact person name and initials (SSB identifier)",
              "$ref": "#/components/schemas/variable/$defs/person"
          },
          "created_at": {
              "title": "Created date",
              "description": "Date on which the variable was created",
              "type": "string",
              "format": "date-time",
              "readOnly": true
          },
          "created_by": {
              "title": "Created by person",
              "description": "Person that created the variable, name and initials (SSB identifier)",
              "$ref": "#/components/schemas/variable/$defs/person",
              "readOnly": true
          },
          "last_updated_at": {
              "title": "Last updated date",
              "description": "Date on which the variable was last updated",
              "type": "string",
              "format": "date-time",
              "readOnly": true
          },
          "last_updated_by": {
              "title": "Last updated by",
              "description": "Person that last updated the variable, name and initials (SSB identifier)",
              "$ref": "#/components/schemas/variable/$defs/person",
              "readOnly": true
          }
      },
      required: [
        "name",
        "short_name",
        "definition",
        "valid_from",
        ],
      $defs: {
        "language_texts": {
          "type": "array",
          "items": {"$ref": "#/components/schemas/variable/$defs/language_text"}
        },
        "language_text": {
          "type": "object",
          "properties": {
              "language_code": {
                  "title": "Language code",
                  "description": "Language code (ISO 639-1)",
                  "type": "string"
              },
              "text": {
                  "title": "Text",
                  "description": "Text Text in language specified by the language code",
                  "type": "string"
              }
          }
        },
        "person": {
            "$comment": "Person",
            "type": "object",
            "properties": {
                "code": {
                    "title": "Person, initials",
                    "type": "string"
                },
                "name": {
                    "title": "Person, name",
                    "type": "string"
                }
            }
        }
      }
    }