<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <loggerName />
                <logLevel />
                <message />
                <arguments/>
            </providers>
        </encoder>
        <!-- Add filter for health monitor logs -->
        <filter class="no.ssb.metadata.vardef.utils.HealthStatusFilter" />
    </appender>

    <!-- Specific logger for health monitor with debug level -->
    <logger name="io.micronaut.management.health.monitor.HealthMonitorTask" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.micronaut.http.client.netty.DefaultHttpClient" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>